a:link,
a:visited {
    text-decoration:none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}	

body{
	color:#222;
	font-size:16px;
	background:#fff;
	font-family: 'Noto Serif', serif;
	}
	
a{
	color:#872b1c;
	}
a:hover{
	color:#6e1a0d;
	}
#scroll-fix-top{
    width: 100%;
}

#scroll-fix-top.fixed {
    opacity: 0.95;
}

.circle{
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	}
.radius{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
.fa-2 {
    font-size: 1.5em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
ul.reset, ol.reset{
	margin:0;
	padding:0;
	}
.navbar-toggle{
	position:absolute;
	top:10px; right:10px;
	margin:0;
	padding:0;
	width:40px;
	height:40px;
	background:url(../img/bar.png) no-repeat 50% 50%;
	}
.navbar-toggle.close{
	background:url(../img/cancel.png) no-repeat 50% 50%;
	}
.btn-submit{
	text-transform:uppercase;
	padding:10px 15px;
	color:#fff;
	background: #872b1c;
	}
.btn-submit:hover{
	color:#fff;
	background: #d94700;
	}
strong, b{
	font-family: 'UTM AvoBold';
	}
a, .btn, button{
	outline:none;
	}
/*header=================================*/

#header{
	border:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	padding:10px 0;
	z-index:9999;
	min-height:70px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	}
#header .affix{
	left:0;
	right:0;
	top:0;
	min-height:70px;
	padding:10px 0;
	background: rgba(0,0,0,0.8);
	}
.navbar-collapse{
	padding-right:0;
	padding-left:0;
	webkit-overflow-scrolling: touch;
    border: none;
    -webkit-box-shadow: none;
    box-shadow:none;
	moz-box-shadow:none;
	}
.navbar-brand{
	padding:0;
	}
.navbar-brand img{
	width:280px;
	color:#fff;
	}
.navbar-nav{
	margin:0 0 0 0;
	}
.navbar-nav li{
	
	}
.navbar-nav>li>a{
	color:#333;
	text-transform:uppercase;
	text-align:center;
	padding:20px 10px;
	font-family: 'UTM AvoBold';
	outline:none;
	}
.navbar-nav .active a, .navbar-nav a:hover,  .navbar-nav li a:focus, #header .affix .navbar-nav li a{
	color:#fff;
	background:none !important;
	}
.affix .navbar-nav .active a{
	color:#fff}


#headerFix .row{
	margin-left:-5px;
	margin-right:-5px;
	}
#headerFix .row>div{
	padding-right:5px;
	padding-left:5px;
	}
/**/
.section{
	padding-top:60px;
	padding-bottom:60px;
	}
.section .st-hd{
	margin-bottom:45px;
	}
.section .st-hd h3{
	font-size:46px;
	color:#222;
	margin:0;
	line-height:normal;
	font-family: 'UTM AvoBold';
	}
.section .st-hd h3 strong{
	font-family: 'UTM AvoBold';
	
	}
.section .st-hd p{
	font-size:18px;
	color:#999;
	}
.st-hd .line{
	height:1px;
	max-width:150px;
	margin:15px auto;
	background: #222;
	}
	/**/
#slide{
	position:relative;
	background:url(../img/bg-hd.png) no-repeat 50% 100%;
	background-size:cover;
	padding:150px 0 100px 0;
	}
#textSlide{
	z-index:99;
	font-family: 'Noto Serif', serif;
	}
#textSlide h1{
	font-size:4em;
	margin-bottom:60px;
	line-height:normal;
	color:#872b1c;
	}
#textSlide h1 strong{
	font-size:1.3em;
	font-family: 'UTM AvoBold';
	}
#btnRegister, #section6 .inner .btn{
	text-align:center;
	padding:15px;
	margin:0 auto;
	max-width:300px;
	text-transform:uppercase;
	font-family: 'UTM AvoBold';
	
	}
#btnRegister{
	background:#fff;
	color:#872b1c;
	}
#btnRegister:hover{
	background:#872b1c;
	color:#fff;
	}
.carousel-indicators{
	}
.carousel-indicators li{
	width:10px;
	height:10px;
	background:#fff;
	}
.carousel-indicators .active{
	width:12px;
	height:12px;
	background:#000;
	}
	
#section1{
	background:#fff;
	color:#333;
	}
#section1 .row{
	margin-bottom:45px;
	}
#section1 h2{
	margin:30px 0;
	line-height:normal;
	text-transform:uppercase;
	font-family: 'UTM AvoBold';
	font-size:24px;
	}
#section1 img{
	width:200px;
	}
#section1 .btn{
	padding-right:30px;
	padding-left:30px;
	border-color:#872b1c;
	color:#872b1c;
	}

#section2{
	background:#f7f7f7;
	}
#section2 .st-hd h3{
	font-size:30px;
	}
#section2 hr, #section4 .desc hr{
	width:100px;
	border-top-color:#222;}
#section2 .inner{
	border:2px solid #872b1c;padding:60px 100px; margin:45px 0;
	}
#section3 img{
	width:100%;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	}
#section3 img:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	transform: scale(1.15);
	z-index:9;
	}
	
#section3 .col-lg-3{
	margin-bottom:30px;
	}
#section4{
	background:#f7f7f7;
	}
#section4 .desc{
	background:#fff;
	padding:80px 45px 45px 45px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
#section4 .desc img{
	margin-bottom:30px;
	}
#section4 .avatar{
	position:absolute;
	top:-60px;
	left:50%;
	margin-left:-60px;
	width:120px;
	}
#section4 .avatar img{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:1px solid #ccc;
	padding:5px;
	background:#fff;
	}
#section5 .form-group{
	margin-bottom:20px;
	}
#section5{
	background:#872b1c;
	color:#fff;
	text-align:center;
	padding-bottom:0;
	}
#section5 .st-hd h3{
	margin:0 0 30px 0;
	font-family: 'UTM AvoBold';
	font-size:46px;
	color:#fff;
	}
#section5  input{
	background:#fff;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#222;
	padding:13px 15px;
	height:auto;
	border:none;
	}
#section5  input, #section5  .btn{
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	padding:15px;
	}
#section5 .phone{
	color:#fff;
	}
.btn{
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	outline:none;
	}
 #section5 .btn{
	 background:#ff9600;
	 font-family: 'UTM AvoBold';
	 }
 #section5 .btn:hover{
	 background:#ff7200;
	 }
#section5 .line{
	background:#fff;
	}
#formContact{
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
	margin-bottom:10px;
	}
#section5 .textPhone{
	margin-bottom:30px;
	text-align:center;
	}

#section6{
	background:#f7f7f7;
	}
#section6 .inner{
	padding:30px;
	background:#fff;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	}
#section6 .inner:hover{
	margin-top:-10px;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	}
#section6 .inner h3{
	margin:0;
	}
#section6 .inner .price{
	margin:15px 0;
	}
#section6 .inner .price strong{
	font-size:30px;
	color:#872b1c;
	}
#section6 .inner .price sup{
	font-size:18px;
	}	
#section6 .inner ul{
	margin:0 0 30px 0;
	padding:0;
	}
#section6 .inner li{
	margin-bottom:10px;
	list-style:none;
	position:relative;
	padding-left:30px;
	}	
#section6 .inner li:before{
	content:"";
	position:absolute;
	top:5px;
	left:0;
	width:16px;
	height:16px;
	background:url(../img/check-symbol_green.png) no-repeat 0 0;
	}
#section6 .inner li.disabled{
	opacity:1;
	color:#999;
	}
#section6 .inner li.disabled:before{
	background:url(../img/check-symbol.png) no-repeat 0 0;
	}
#section6 .inner .btn, #section6 .col-lg-4:nth-child(2) .inner .btn:hover{
	background:#fff;
	color:#872b1c;
	border:2px solid #872b1c;
	}
#section6 .col-lg-4:nth-child(2) .inner .btn, #section6 .col-lg-4 .inner .btn:hover, .btnRegister-popup{
	background:#872b1c;
	color:#fff;
	}
#footer{
	background:#333;
	text-align:center;
	color:#fff;
	padding:30px 0;
	}
#footer address{
	margin:0;
	padding:0;
	}
#footer address a{
	color:#ff7200;
	}
#footer .icon{
	margin-bottom:45px;
	}
.modal .modal-body{
	padding:30px 30px;
	}
.modal .st-hd h3{
	font-size:46px;
	margin-top:0;
	}
.modal .st-hd h3 span{
	font-size:24px;
	line-height:normal;
	}
.modal .sapo{
	font-size:22px;
	margin:30px 0;
	padding-left:80px;
	position:relative;
	}
.modal .sapo:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	width:57px;
	height:39px;
	background:url(../img/accolade.gif) no-repeat 0 0;
	}
.modal .modal-header{
	border-bottom:0;
	padding:0;
	}
.modal .modal-header .close{
	position:absolute;
	top:2px;
	right:0;
	color:#fff;
	width:40px;
	height:40px;
	text-align:center;
	background:#872b1c url(../img/cancel.png) no-repeat 50% 50%;
	opacity:1;
	text-indent:-1000em;}
.modal ol{
	margin:0 0 0 15px;
	padding:0;
	}
.modal ol>li{
	margin-bottom:15px;
	border-bottom:1px dashed #ddd;
	padding-bottom:15px;
	}
.modal ol>li:last-child{
	border:none;
	}
.modal ol ul li{
	margin-bottom:10px;
	}
.modal ol ul li:last-child{
	margin-bottom:0;
	}
.btnRegister-popup{
	max-width:320px;
	margin:30px auto;
	}

/**/
img{
	max-width:100%}
.modal{
	padding-top:100px;
	}
.modal .modal-header{
	background:#}
@media (max-width:1336px){
	
	
	}
@media (max-width:768px){
	#header.open{
		background:rgba(0,0,0,0.8);
		}
	.navbar-brand{
		float:none;
		}
	.navbar-collapse {
		clear:both;
		margin-top:15px;
		}
	.navbar-nav > li > a{
		padding-top:10px;
		padding-bottom:10px;
		color:#fff;
		}
	.navbar-brand img{
		width:220px;
		}
	#slide{
		padding:100px 0 50px 0;
		}
	#textSlide h1{
		font-size:3em;
		}
	#section1 h2{
		font-size:18px;
		line-height:normal;
		margin:15px 0;
		}
	#section2 .inner{
	border:none;padding:0; margin:0;
	}
	.section .st-hd h3{
		font-size:36px !important;
		}
	#section4 .desc{
		background:none;
		padding-right:0;
		padding-left:0;
		padding-bottom:0;
		}
	#section2 hr{
		margin:20px 0;}
	#section5{
		padding-top:15px;
		}
	#section5 .inner{
	border:none;padding:0; margin:0 0 30px 0;
	}
	#section6 .col-lg-4{
		margin-bottom:30px;
		}
	#section1 .col-lg-4{
		margin-bottom:60px;
		}
	#section6 .col-lg-4:last-child, #section1 .col-lg-4:last-child{
		margin-bottom:0;
		}
	#aboutus .st-hd{
		height:auto;
		background:none;
		padding-left:30px;}
	#aboutus .modal-body{
		padding:15px;
		}
	#aboutus .st-hd h3{
		font-size:40px;
		}
	.modal .sapo{
		padding-left:30px;
		font-size:18px;
		}
	.modal .sapo:before{
		width:20px;
		height:20px;
		background:url(../img/accolade.gif) no-repeat 0 0;
		background-size:contain;
		}
	.modal .modal-body, #section6 .inner{
		padding:15px;
		}
	.modal-body ol ul{
		margin:0 0 0 10px;
		padding:0;
		}
	.modal-body ul{
		padding-left:0;
		margin-left:15px;
		}
	}

/*owl-carousel*/
.owl-carousel{
	}
.owl-carousel.owl-loaded, .owl-carousel-rate.owl-loaded {
  display: block;
  overflow:hidden;
}
.owl-carousel .owl-stage-outer, .owl-carousel-rate .owl-stage-outer{
  position: relative;
  overflow:hidden;
  padding-top:15px;
  padding-bottom:5px;
  -moz-transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
  transform: translate3d(0px,0,0);
}
.owl-carousel-rate .owl-stage-outer{
	padding-top:60px;
	}
.owl-carousel .owl-item, .owl-carousel-rate .owl-item{
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .item{
	
	}
.owl-carousel .item img{
	-moz-transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	transition: all 300ms ease-out 0s;
}
.owl-theme .owl-controls{
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.owl-loaded{
	position:relative;
	}
.owl-loaded .owl-prev, .owl-loaded .owl-next{
	width:54px;
	height:54px;
	position:absolute;
	top:50%;
	margin-top:-27px;
	text-indent:-1000em;
	}
.owl-loaded .owl-prev{
	left:-60px;
	background:url(../img/priv.png) no-repeat 50% 50%
	}
.owl-loaded .owl-next{
	right:-60px;
	background:url(../img/next.png) no-repeat 50% 50%
	}
#section2 .owl-loaded .owl-prev, #section2.owl-loaded .owl-next{
	display:none;
	}
.owl-dots{
	text-align:center;
	}
.owl-dot{
	width:15px;
	height:15px;
	background:#fff;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin:0 5px;
	display:inline-block;
	border:2px solid #ddd;
	}
.owl-dot.active{
	background:#333;
	}
	
	